.bitDao-landing-container {
  background: #20846c;
  color: #fdfdfd;
  position: relative;
  padding: 0 10%;
  .particles-js{
    height: 500px;
  }
  .bitDao-landing-info-container {
    z-index: 1;
    color: #fdfdfd;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 200px;
    h1 {
      width: fit-content;
      font-size: 2.2rem;
      margin: 0;
      font-weight: 900;
    }
  }
}
